#title{
	border: 1px solid #CCC;
}

header{
	width: 100%;
	position: relative;
	top: -149;
	height: 160;
	background-color: white;
}

.logo{
	width: 253px;
	height: 139px;
}

#principal{
	background-color: #EEEFF2;
	position: relative;
	top: 150;
}

.text_header{
	color: #20A9E2;
	position: relative;
	top: -131;
	border-left: 3px solid #20A9E2;
	right: -253;
	padding: 17;
	font-size: 50px;
}

.container{
	margin: 0 auto;
	width: 940px;
}

#login_div{
	margin: 0 auto;
	margin-top: 79px;
	float: center;
	width: 340;
	text-align: center;
	background-color: white;
}

#text_login{
	margin-top: 17px;
	position: relative;
	left: -106px;
}
#btn_submit{
	margin-top: 40;
}

#input_email{
	width: 250;
}

#input_password{
	width: 250;
}


footer{
	position: relative;
	bottom: -482;
	width: 100%;
	height: 107;
	background-color: #0072C6;
}
#button_submit{
	border-radius: 1;
	width: 110%;
	margin-left: -16px;
	border-color: #525353;
	border-width: 20
}


/*Pagina inicial*/

#header_inf{
	width: 80%;
}

#pag_initial_menu{
	position: relative;
	top: -242;
	left: 25;
	height: 407;
	background-color: white;
	width: 395px;
}

#background{
	background-color: #42464F;
	text-align: center;
	width: 109%;
	margin-left:-17;
	height: 226;
}

#text_day{
	margin-top: -18;
	margin-right: 13;
	text-align: center;
	font-size: 56;
}

#right_incident_layout{
	text-align: right;
	border-left: 2px solid #EEE;
	height: 95;
	margin-top: 15;
}

#text_data{
	text-align: center;
	margin-top: -25;
	margin-left: -18;
}

#user_name{
	text-align: center;
	color: white;
	margin-left: -3;
	margin-top: 6;
	font-size: 25;
}

.incident_cont{
	border-radius: 5;
	position: relative;
	top: -9;
	left: 333;
	color: white;
	text-align: center;
	margin-top: -35;
	width: 36;
	background-color: #42464F;
}

#icon_flag_open{
	color: gray;
	float:right;
	margin-right: 144px;
	font-size: 1.1em;
}

#icon_flag_closed{
	color: gray;
	float:right;
	margin-top: -1;
	margin-right: 61;
	font-size: 1.1em;
}

.list_nav{
	list-style-type: none;
	padding-left: 13;
	margin-right: -50;
}

#avatar{
	border: 5px solid white;
	margin-top: 12;
	height: 160px;
	width: 167px;
}

.nav_links{
	margin-top: 4;
	margin-left: -29;
	padding: 8;
	font-size: 22;
	color: lightgray;
	border-bottom: 3px solid #EEEFF2;
}

.text_nav{
	position: relative;
	left: 54;
	top: 2;
	color: gray;
}

#nav_icon1{
	position: relative;
	left: 1;
	top: -59;
	font-size: 2em;
}

#nav_icon2{
	position: relative;
	left: -29;
	top: -122;
	font-size: 2em;
}

#nav_icon3{
	position: relative;
	left: -60;
	top: -185;
	font-size: 2em;
}

.incident_text{
	position: relative;
	left: 56;
	width: 694;
	top: -239;
	color: #20A9F4;
	font-weight: bold;
	font-size: 34px;
}


.incident_form{
	position: relative;
	width: 806px;
	top: -691px;
	left: 452px;
	height: 640px;
	color: white;
	background-color: #42464F;
}

.incident_form_text{
	position: relative;
	left: 60;
	top: 60;
}

.opt_text_form1{
	color: white;
	font-size: 18;
	position: relative;
	left: 45;
	top: 107;
	color: white;
}

.opt_text_form2{
	color: white;
	font-size: 18;
	position: relative;
	left: 111;
	top: 143;
	color: white;
}

.opt_text_form3{
	font-size: 18;
	position: relative;
	left: 99;
	top: 192;
	color: white;
}

.opt_text_form4{
	font-size: 18;
	position: relative;
	left: 123;
	top: 166;
	color: white;
}

.opt_text_for4_edit_page{
	font-size: 18;
	position: relative;
	left: 90;
	top: 249;
	color: white;
}


#incident_radio{
	position: relative;
	top: 69;
	left: 195;
	height: 31;
	width: 590;
}

.subject_input{
	font-size: 16;
	position: relative;
	left: 196;
	top: 107;
	width: 588;
}

.description_input{
	font-size: 16;
	position: relative;
	left: 196;
	top: 153;
	resize: none;
	width: 589;
	height: 144;
}

.button_upload{
	position: relative;
	left: 196;
	top: 135;
}

#btn_submit_incident{
	position: relative;
	font-size: 18;
	left: 194;
	top: 166;
}

#dashboard_form_layout
{
	display: inline;
}

#icon_flag_open_admin{
	color: gray;
	float: right;
	margin-top: -1;
	margin-right: 143;
	font-size: 1.1em;
}

/*Meus dados*/

.mydata_form{
	position: relative;
	width: 806px;
	height: 640px;
	left: 464px;
	top: -641px;
	color: white;
	background-color: #EEEFF2;
}

.incident_text_my_data{
	position: relative;
	left: 462px;
	width: 694px;
	top: -651px;
	color: #20A9F4;
	font-weight: bold;
	font-size: 34px;
}

#btn_mydata_submit_incident{
	margin-top: 55px;
	margin-left: 2px;
	font-size: 16px;
}

.name_input{
	position: relative;
	top: -3px;
	left: -2px;
	height: 31px;
	width: 434px;
}

.email_input{
	position: relative;
	top: 69;
	left: 195;
	height: 31;
	width: 590;
}

.password_mydata_input{
	position: relative;
	top: 69;
	left: 195;
	height: 31;
	width: 590;
}
.confirmpass_mydata_input{
	position: relative;
	top: 69;
	left: 195;
	height: 31;
	width: 590;
}

#open_incidents{
}

#closed_incidents{
	display:none;
}

#btn_div{

}
#open_btn{
	position: relative;
	top: -224;
	left: -105;
	height: 36;
	width: 124;
}

#closed_btn{
	position: relative;
	top: -224;
	left: -105;
	height: 36;
	width: 124;
}

#incident_btn{
	position: relative;
	top: -273px;
	left: 602px;
	height: 36px;
	width: 161px;
}

.incident_text1{
	position: relative;
	left: 449px;
	width: 694px;
	top: -651px;
	color: #20A9F4;
	font-weight: bold;
	font-size: 34px;
}

#incident_btn1{
	position: relative;
	top: -695;
	left: 1097;
	height: 36;
	width: 161;
}
.my_data_text{
	color: black;
	font-size: 24;
	margin-top: 8;
}

/*Meus incidentes*/

#open_incident1{
	position: relative;
	top: -232;
	width: 755px;
}

#closed_incident1{
	position: relative;
	top: -232;
	width: 755px;
}

#incident_list{
	background-color: white;
	margin-top: 13px;
	list-style-type: none;
}

#upper_incident_layout{
	margin-left: 10px;
	padding: 1 0;
	border-bottom: 1px solid #EEF;
}

#botton_incident_layout{
	margin-left: 10px;
	padding: 10px 0;
	border-top: 1px solid #EEE;
}


#status_layout{
	text-align: right;
	width: 93%;
	position: relative;
	bottom: 35;
	left: 40;
	height: 0;
	color: gray;
	font-size: 12;
}

/*edit incident page*/

.opt_text_form5_edit_page{
	font-size: 18;
	position: relative;
	left: 205;
	top: 215;
	color: white;
}

.incident_form_edit_page{
	position: relative;
	width: 806px;
	top: -691px;
	left: 452px;
	height: 761px;
	color: white;
	background-color: #42464F;
}

.button_upload_edit_page{
	position: relative;
	left: 447;
	top: 182;
}

.opt_text_form4_edit_page{
	font-size: 18;
	position: relative;
	left: 114;
	top: 192;
	color: white;
}

#btn_submit_incident_edit_page {
	position: relative;
	font-size: 18;
	left: 194;
	top: 247;
}

#number_open{
	margin-left: 311;
}

#number_closed{
	margin-left: 311;
}

#my_data_input{
	width: 54;
}

#incident_text_my_data{
}


/*Detail_page*/

#detail_answer{
	margin: 42;
	height: 162;
	width: 721;
	font-size: 16;
	margin-left: 37;
	color: rgb(32, 26, 26);
	border: 3px solid rgb(245, 42, 42);
}

#answer_text{
	margin-bottom: -20px;
	font-size: 20px;
	margin-left: 37px;
	color: rgb(32, 26, 26);
}

.incident_detail{
	position: relative;
	width: 806px;
	height: 440px;
	top: -652px;
	left: 453px;
	color: white;
	background-color: white;
	padding: 1px;
}

.incident_detail1{
	position: relative;
	width: 806px;
	height: 701px;
	top: -652px;
	left: 453px;
	color: white;
	background-color: white;
	padding: 1px;
}

#detail_titul{
	position: relative;
	top: 27;
	left: 32;
	font-size: 35;
	color: #42464F;
}

#detail_descrip{
	border: 3px solid rgb(54, 214, 86);
	margin: 42;
	height: 162;
	width: 721px;
	font-size: 16;
	margin-top: 58;
	margin-left: 37;
	color: rgb(32, 26, 26);
}

#detail_anex{
	font-size: 23;
	margin-top: 39;
	margin-left: 40;
	color: rgb(39, 84, 226);
}

#detail_type{
	font-size: 18;
	margin-top: -16;
	margin-left: 32;
	color: rgb(32, 26, 26);
}

#detail_creation{
	font-size: 25;
	position: relative;
	top: -360;
	left: 643;
	color: #42464F;
}

.incident_text1_detail_page{
	position: relative;
	left: 455;
	width: 694;
	top: -651;
	color: #20A9F4;
	font-weight: bold;
	font-size: 34px;
}

#detail_owner{
	font-size: 18;
	margin-top: -150;
	margin-left: 471;
	color: rgb(32, 26, 26);
}


/*Answer Page*/

.incident_answer{
	border: 3px solid rgb(180, 171, 171);
	font-size: 16;
	resize: none;
	margin-top: 42;
	margin-left: 29;
	width: 740;
	height: 144;
}

#send_incident_answer{
	margin-top: 18;
	margin-left: 605;
}

.incident_answer_div{
	position: relative;
	width: 806;
	top: -652;
	left: 452;
	height: 581;
	color: white;
	background-color: white;
}

#answer_descrip{
	margin: 42;
	height: 145;
	font-size: 16;
	margin-top: 58;
	margin-left: 37;
	color: rgb(32, 26, 26);
}

.row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
